{
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "objectWrap": "collapse",
  "embeddedLanguageFormatting": "auto",
  "trailingComma": "es5"
}
